body {
    margin: 0;
    font-family: "Anton", "Mochiy Pop One", Arial, sans-serif;
    display: flex;
    background-color: #f8f8f8;
    color: #333;
}

/* 以下、各タグにてフォントを指定しないとBootStrapの影響で変更されなくなる */
p {
    font-family: "Mochiy Pop One";
}

/* サイドバーについて */
.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    font-family: "Anton", "Mochiy Pop One", sans-serif; /* サイドバーのリンクにMochiy Pop Oneを適用 */
}
.sidebar a:hover {
    color: #ccc;
}

.content {
    padding: 0 20px;
    flex: 1;
    transition: margin-left 0.3s;
}

/* 最初のトップ部分について */
.hero {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 230px 20px;
    overflow: hidden;
    background-color: #e7e7e7;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    position: relative;
    font-family: 'Anton', sans-serif;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInHero 1s ease-out 3.2s forwards;
}

/* アニメーションテキスト実装予定が、うまく機能してしていないやつ */
.animated-text {
    opacity: 0;
    transform: translateX(-50%);
    animation: slideIn 3.2s ease-out forwards;
}

/* 上手く機能していないやつ */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* トップ部分をフェードインしていくキーフレーム */
@keyframes fadeInHero {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* sectionタグについて */
section {
    padding: 80px 0;
}

/* 作品セクションについて */
.works {
  padding: 80px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.works.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.works h2 {
  font-family: "Anton", "Mochiy Pop One", sans-serif;
}

/* コンタクト部分について */
.contact {
  padding: 80px 20px;
}
.contact h2 {
  font-family: "Anton", "Mochiy Pop One", sans-serif;
}

/* カルーセル調整 */
.carousel {
  width: 80%;
  margin: 20px auto;
}
.carousel-inner{
  border-radius: 10px;
}
.carousel-item img {
  object-fit: cover;
  max-height: 800px;
}

/* 以下、レスポンシブ対応についての表記 */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        padding: 0;
        padding-top: 60px;
    }

    .works,
    .contact {
      padding: 80px 0;
    }

    .carousel {
    width: 100%;
    }
}

/* ナビゲーションバーのロゴの調整 */
.logo-nav {
    width: 100px;
    height: auto;
}

/* サイドバーロゴについての指定 */
.logo {
    width: 80%;
    margin: 10px auto;
    display: block;
}

/* ローディング画面について */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #592588;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    text-align: center;
}

.rotating-logo {
    width: 300px;
    animation: rotate 2s linear infinite;
}

.loader p {
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    font-family: "Anton", "Mochiy Pop One", sans-serif;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#loading-screen.fade-out {
    animation: fadeOut 1s forwards;
}